.main--content {
  display: flex;
  justify-content: center;
  align-items: center;
  .main--text {
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 25px;
    max-width: 457px;
    .text--serb {
      color: #800000;
      margin-bottom: 60px;
      margin-top: 30px;
    }
  }
}
 
  
    
  
